/* MOBILE */
@media (max-width:768px){

nav ul{
flex-wrap:wrap;
gap:10px;
}

.container{
margin:40px 20px;
padding:25px;
}

.gallery-item{
flex-direction:column;
}

.member{
flex-direction:column;
}

img, video{
max-width:100%;
height:auto;
}

}